html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
html {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: auto;
}
body {
    padding: 1rem;
    overflow: auto;
}
.divCtrl{
    position: relative;
    width: auto;
}
.headingStyle{
    padding: 4px;
}
.newListBtn{
    position: absolute;
    right: 40px;
}
.gridLayout{
    width: 98%; 
    height: 400px; 
    top: 100px; 
    position: absolute;
}