html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    border-style: solid;
}
html {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: auto;
}
body {
    padding: 1rem;
    overflow: auto;
}
.divCtrl{
    position: relative;
    width: auto;
}
.headingStyle{
    padding: 4px;
}
.newListBtn{
    position: absolute;
    right: 40px;
}
.gridLayout{
    width: 95%; 
    height: 400px; 
    top: 120px;
    left: 32px;
    position: absolute;
}
button:disabled,
button[disabled]{
  background-color: #cccccc !important;
}
.btn-new-list{
    float: right;
    margin-right: 30px;
}
.custom-body {
    background-color: #F8FAFB;
}
.custom-height{
    height: 200px;    
}
.custom-title{
    margin: auto;
}
.header-icon{
    font-size: 70px;
    color: #E2E3E3;
    margin-left: 8px;
}
.btn-save{
    background-color: #2E2556 !important;
}
.inner-container{
    position: relative;
    margin: auto;
    width: 90%;
    border-top: #F5D40F solid;
    margin-top: 50px;
}